service vendor.wifi-mac-generator /vendor/bin/wifi-mac-generator
    class main
    user root
    oneshot
    disabled

on post-fs-data
    write /mnt/vendor/persist/wlan_mac.bin ""
    chown wifi wifi /mnt/vendor/persist/wlan_mac.bin
    start vendor.wifi-mac-generator
